<h2>Empresas</h2>

<pre>
<b>Consórcio Transleste:</b>
- Auto Viação Fortaleza Ltda.
- Viação Urbana Ltda.

<b>Consórcio Antônio Bezerra:</b>
- Transportes Urbanos Aliança S/A
- Santa Cecília Transportes Ltda. (✝)
- Empresa de Transporte Santa Maria Ltda.
- Vega S/A Transporte Urbano

<b>Consórcio Expresso 05:</b>
- Auto Viação São José Ltda.
- Viação Siará Grande Ltda.

<b>Consórcio Parangaba:</b>
- Auto Viação Dragão do Mar Ltda.
- Auto Viação São José Ltda.
- Maraponga Transportes Ltda.

<b>Consórcio Messejana:</b>
- Auto Viação Fortaleza Ltda.
- Vega S/A Transporte Urbano
- Auto Viação Dragão do Mar Ltda.

<b>Transporte alternativo:</b>
- COOTRAPS

</pre>
